[user]
	name = dragove
	email = dragove@qq.com
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = input
	quotePath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/Workspace/**/Comp/**"]
    path = ~/.gitconfig-comp
[trace2]
	eventTarget = af_unix:stream:/home/dove/.git-ai/internal/daemon/trace2.sock
	eventNesting = 10
