[user]
	name = dragove
	email = dragove@qq.com
[pull]
	rebase = true
[init]
	defaultBranch = master
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
