*.o
/xmonad/.config/xmonad/stack.yaml
/scripts/Workspace/Scripts/datagrip
/scripts/Workspace/Scripts/pycharm
/scripts/Workspace/Scripts/idea
lazy-lock.json
/konsole/.local/share/konsole/bookmarks.xml
/konsole/.local/share/konsole/bookmarks.xml.tbcache
/cargo/.cargo/registry
/cargo/.cargo/git
/cargo/.cargo/.package-cache
*.bak
