input {
  focus-follows-mouse
  keyboard {
    xkb {
      layout "us"
    }
    numlock
  }

  touchpad {
    // off
    tap
    dwt
    drag true
    natural-scroll
  }

  mouse {
    scroll-method "on-button-down"
    scroll-button 274
  }

  trackpoint {
  }

  // Uncomment this to make the mouse warp to the center of newly focused windows.
  warp-mouse-to-focus

  // Focus windows and outputs automatically when moving the mouse into them.
  // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
  // focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
        off
    }
}
output "Xiaomi Corporation Mi Monitor 0x00000004" {
  mode "3840x2160@160.000"
  scale 2
  transform "normal"
  position x=0 y=0
}
output "BOE 0x09EE Unknown" {
  mode "1920x1080@144.003"
  scale 1
  transform "normal"
  position x=1920 y=0
}
output "PNP(AOC) 2279W ADVG59A009812" {
  mode "1920x1080@60"
  scale 1
  transform "normal"
  position x=1920 y=0
}
output "AU Optronics 0x26A4 Unknown" {
  mode "2880x1800@60.001"
  scale 1.5
  transform "normal"
  position x=0 y=0
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
  // Set gaps around windows in logical pixels.
  gaps 8

  // When to center a column when changing focus, options are:
  // - "never", default behavior, focusing an off-screen column will keep at the left
  //   or right edge of the screen.
  // - "always", the focused column will always be centered.
  // - "on-overflow", focusing a column will center it if it doesn't fit
  //   together with the previously focused column.
  center-focused-column "always"

  // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
  preset-column-widths {
      // Proportion sets the width as a fraction of the output width, taking gaps into account.
      // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
      // The default preset widths are 1/3, 1/2 and 2/3 of the output.
      proportion 0.33333
      proportion 0.5
      proportion 0.66667

      // Fixed sets the width in logical pixels exactly.
      // fixed 1920
  }

  // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
  // preset-window-heights { }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }
  // If you leave the brackets empty, the windows themselves will decide their initial width.
  // default-column-width {}

  // By default focus ring and border are rendered as a solid background rectangle
  // behind windows. That is, they will show up through semitransparent windows.
  // This is because windows using client-side decorations can have an arbitrary shape.
  //
  // If you don't like that, you should uncomment `prefer-no-csd` below.
  // Niri will draw focus ring and border *around* windows that agree to omit their
  // client-side decorations.
  //
  // Alternatively, you can override it with a window rule called
  // `draw-border-with-background`.

  // You can change how the focus ring looks.
  focus-ring {
      // Uncomment this line to disable the focus ring.
      // off

      // How many logical pixels the ring extends out from the windows.
      width 0

      // Colors can be set in a variety of ways:
      // - CSS named colors: "red"
      // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
      // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

      // Color of the ring on the active monitor.
      active-color "#7fc8ff"

      // Color of the ring on inactive monitors.
      //
      // The focus ring only draws around the active window, so the only place
      // where you can see its inactive-color is on other monitors.
      inactive-color "#505050"

      // You can also use gradients. They take precedence over solid colors.
      // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
      // The angle is the same as in linear-gradient, and is optional,
      // defaulting to 180 (top-to-bottom gradient).
      // You can use any CSS linear-gradient tool on the web to set these up.
      // Changing the color space is also supported, check the wiki for more info.
      //
      // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

      // You can also color the gradient relative to the entire view
      // of the workspace, rather than relative to just the window itself.
      // To do that, set relative-to="workspace-view".
      //
      // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  // You can also add a border. It's similar to the focus ring, but always visible.
  border {
      // The settings are the same as for the focus ring.
      // If you enable the border, you probably want to disable the focus ring.
      // off

      width 1.5
      active-color "#7fc8ff"
      inactive-color "#505050"

      // Color of the border around windows that request your attention.
      urgent-color "#9b0000"

      // Gradients can use a few different interpolation color spaces.
      // For example, this is a pastel rainbow gradient via in="oklch longer hue".
      //
      // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

      // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  // You can enable drop shadows for windows.
  shadow {
      // Uncomment the next line to enable shadows.
      // on

      // By default, the shadow draws only around its window, and not behind it.
      // Uncomment this setting to make the shadow draw behind its window.
      //
      // Note that niri has no way of knowing about the CSD window corner
      // radius. It has to assume that windows have square corners, leading to
      // shadow artifacts inside the CSD rounded corners. This setting fixes
      // those artifacts.
      //
      // However, instead you may want to set prefer-no-csd and/or
      // geometry-corner-radius. Then, niri will know the corner radius and
      // draw the shadow correctly, without having to draw it behind the
      // window. These will also remove client-side shadows if the window
      // draws any.
      //
      // draw-behind-window true

      // You can change how shadows look. The values below are in logical
      // pixels and match the CSS box-shadow properties.

      // Softness controls the shadow blur radius.
      softness 30

      // Spread expands the shadow.
      spread 5

      // Offset moves the shadow relative to the window.
      offset x=0 y=5

      // You can also change the shadow color and opacity.
      color "#0007"
  }

  // Struts shrink the area occupied by windows, similarly to layer-shell panels.
  // You can think of them as a kind of outer gaps. They are set in logical pixels.
  // Left and right struts will cause the next window to the side to always be visible.
  // Top and bottom struts will simply add outer gaps in addition to the area occupied by
  // layer-shell panels and regular gaps.
  struts {
      // left 64
      // right 64
      // top 64
      // bottom 64
  }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// spawn-at-startup "waybar"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
  skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
  // Uncomment to turn off all animations.
  // off

  // Slow down all animations by this factor. Values below 1 speed them up instead.
  // slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
  open-maximized true
}

window-rule {
  match title=r#"^(Open File)(.*)$"#
  match title=r#"^(Select a File)(.*)$"#
  match title=r#"^(Choose wallpaper)(.*)$"#
  match title=r#"^(Open Folder)(.*)$"#
  match title=r#"^(Save As)(.*)$"#
  match title=r#"^(Library)(.*)$"#
  match title=r#"flutter picker"#
  match app-id="imv"
  match app-id="Waydroid"
  match title="MainMenuPanelView" app-id="com.alibabainc.dingtalk"
  match title="分享的图片" app-id="com.alibabainc.dingtalk"
  match title="图片查看器" app-id="QQ"
  match title=r#"的聊天记录$"# app-id="QQ"
  match title="Picture-in-Picture"
  match app-id="mpv"
  open-floating true
}

window-rule {
  draw-border-with-background false
  geometry-corner-radius 4
  clip-to-geometry true
}


binds {
  // Keys consist of modifiers separated by + signs, followed by an XKB key name
  // in the end. To find an XKB name for a particular key, you may use a program
  // like wev.
  //
  // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
  // when running as a winit window.
  //
  // Most actions that you can bind here can also be invoked programmatically with
  // `niri msg action do-something`.

  // Mod-Shift-/, which is usually the same as Mod-?,
  // shows a list of important hotkeys.
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Suggested binds for running programs: terminal, app launcher, screen locker.
  Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
  Mod+P hotkey-overlay-title="Application Launcher" {
      spawn "dms" "ipc" "call" "spotlight" "toggle";
  }
  Alt+Space hotkey-overlay-title="Application Launcher" {
      spawn "dms" "ipc" "call" "spotlight" "toggle";
  }

  // call dms ipc
  Mod+V hotkey-overlay-title="Clipboard" { spawn-sh "dms ipc call clipboard toggle"; }
  Mod+Alt+L hotkey-overlay-title="Lock the Screen: dms lock" { spawn-sh "dms ipc call lock lock"; }
  Mod+Shift+S hotkey-overlay-title="Rectangle Screenshot" { spawn-sh "dms ipc call niri screenshot"; }
  Mod+Ctrl+Shift+S hotkey-overlay-title="Current Screen Screenshot" { spawn-sh "dms ipc call niri screenshotScreen"; }

  // Example volume keys mappings for PipeWire & WirePlumber.
  // The allow-when-locked=true property makes them work even when the session is locked.
  // Using spawn-sh allows to pass multiple arguments together with the command.
  // "-l 1.0" limits the volume to 100%.
  // Audio Controls
  XF86AudioRaiseVolume allow-when-locked=true {
    spawn "dms" "ipc" "call" "audio" "increment" "3";
  }
  XF86AudioLowerVolume allow-when-locked=true {
    spawn "dms" "ipc" "call" "audio" "decrement" "3";
  }
  XF86AudioMute allow-when-locked=true {
    spawn "dms" "ipc" "call" "audio" "mute";
  }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // Example media keys mapping using playerctl.
  // This will work with any MPRIS-enabled media player.
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  // Example brightness key mappings for brightnessctl.
  // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
  // but you need to manually put each argument in separate "" quotes.
      // Brightness Controls
  XF86MonBrightnessUp allow-when-locked=true {
   spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
  }
  XF86MonBrightnessDown allow-when-locked=true {
   spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
  }

  Mod+O repeat=false { toggle-overview; }
  Mod+Q repeat=false { close-window; }

  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-or-workspace-down; }
  Mod+K     { focus-window-or-workspace-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down-or-to-workspace-down; }
  Mod+Shift+K     { move-window-up-or-to-workspace-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }

  Mod+Left  { focus-monitor-left; }
  Mod+Down  { focus-monitor-down; }
  Mod+Up    { focus-monitor-up; }
  Mod+Right { focus-monitor-right; }

  Mod+Shift+Left  { move-column-to-monitor-left; }
  Mod+Shift+Down  { move-column-to-monitor-down; }
  Mod+Shift+Up    { move-column-to-monitor-up; }
  Mod+Shift+Right { move-column-to-monitor-right; }

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
  Mod+Shift+Page_Down { move-column-to-workspace-down; }
  Mod+Shift+Page_Up   { move-column-to-workspace-up; }
  Mod+Shift+U         { move-column-to-workspace-down; }
  Mod+Shift+I         { move-column-to-workspace-up; }

  // You can bind mouse wheel scroll ticks using the following syntax.
  // These binds will change direction based on the natural-scroll setting.
  //
  // To avoid scrolling through workspaces really fast, you can use
  // the cooldown-ms property. The bind will be rate-limited to this value.
  // You can set a cooldown on any bind, but it's most useful for the wheel.
  Mod+WheelScrollUp       { focus-column-left; }
  Mod+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }


  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  // Cycling through the presets in reverse order is also possible.
  // Mod+R { switch-preset-column-width-back; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  // Expand the focused column to space not taken up by other fully visible columns.
  // Makes the column "fill the rest of the space".
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }

  // Center all fully visible columns on screen.
  Mod+Ctrl+C { center-visible-columns; }

  // Finer width adjustments.
  // This command can also:
  // * set width in pixels: "1000"
  // * adjust width in pixels: "-5" or "+5"
  // * set width as a percentage of screen width: "25%"
  // * adjust width as a percentage of screen width: "-10%" or "+10%"
  // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
  // set-column-width "100" will make the column occupy 200 physical screen pixels.
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  // Finer height adjustments when in column with other windows.
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+Space       { toggle-window-floating; }
  Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

  Mod+T { toggle-column-tabbed-display; }

  // Actions to switch layouts.
  // Note: if you uncomment these, make sure you do NOT have
  // a matching layout switch hotkey configured in xkb options above.
  // Having both at once on the same hotkey will break the switching,
  // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
  // Mod+Space       { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  Mod+Shift+P { power-off-monitors; }
}
environment {
  GTK_IM_MODULE null
  QT_IM_MODULE "fcitx"
  XMODIFIERS "@im=fcitx"
  SDL_IM_MODULE "fcitx"
  GLFW_IM_MODULE "ibus"
  QT_IM_MODULES "wayland;fcitx;ibus"
  DMS_DISABLE_MATUGEN "1"
  DMS_DANKBAR_LAYER "overlay"

  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
}
