* {
	background-color: rgba(40, 44, 52, 0.9);
}

/* GtkApplicationWindow */
.background {
	opacity: 0.9;
	font-family: FiraCode Nerd Font, sans-serif;
    color: white;
}

#search {
    color: white;
}

#app-list {
    color: #bbbbbb;
}

.app-row:selected {
    color: white;
}

